[submodule "workshop-image-desktop-core"]
	path = workshop-image-desktop-core
	url = https://github.com/fakebilly1us/workshop-image-desktop-core.git
[submodule "workshop-image-desktop-os"]
	path = workshop-image-desktop-os
	url = https://github.com/fakebilly1us/workshop-image-desktop-os.git
[submodule "workshop-image-desktop-v2"]
	path = workshop-image-desktop-v2
	url = https://github.com/fakebilly1us/workshop-image-desktop-v2.git
[submodule "workshop-image-desktop"]
	path = workshop-image-desktop
	url = https://github.com/fakebilly1us/workshop-image-desktop.git
