[submodule "os-docker-images"]
	path = os-docker-images
	url = https://github.com/fakebilly-dev/os-docker-images.git
	branch = main
[submodule "desktop-core-docker-images"]
	path = desktop-core-docker-images
	url = https://github.com/fakebilly-dev/desktop-core-docker-images.git
	branch = main
[submodule "desktop-docker-images"]
	path = desktop-docker-images
	url = https://github.com/fakebilly-dev/desktop-docker-images.git
	branch = main
[submodule "workshop-docker-images"]
	path = workshop-docker-images
	url = https://github.com/fakebilly-dev/workshop-docker-images.git
	branch = main
