[mysqld]
port=3306
user=mysql
bind-address=0.0.0.0
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysqld.sock
pid-file=/var/lib/mysql/mysqld.pid
# default_authentication_plugin deprecated
# default_authentication_plugin=mysql_native_password
authentication_policy=mysql_native_password
# symbolic-links deprecated
# symbolic-links=0
max_connections=1024
max_connect_errors=5
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
default-storage-engine=INNODB
lower_case_table_names=1
max_allowed_packet=16M
# default-time_zone='+8:00'
# binlog
log-bin=/logs/mysql-bin.log
# expire-logs-days deprecated
# expire-logs-days=15
binlog_expire_logs_seconds=21600
max-binlog-size=500M
server-id=1
init_connect='SET NAMES utf8mb4'
log_timestamps=SYSTEM
max_allowed_packet=24M
explicit_defaults_for_timestamp=true
slow_query_log=1
slow_query_log_file=/logs/slow/slow_query.log
long_query_time=5
log_output=FILE
skip-name-resolve

[mysql]
default-character-set=utf8mb4
socket=/var/lib/mysql/mysql.sock

[client]
port=3306
default-character-set=utf8mb4
