name: CentOS 7 Cloud Image Workflow

on:
  workflow_dispatch:
  workflow_call:

env:
  BUILD_WORKSPACE_NAME: workspace

jobs:
  build:
    name: CentOS 7 Cloud Image Build
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4.1.0
        with:
          submodules: recursive

      - name: Create Workspace
        run: |
          mkdir -pv ${{ env.BUILD_WORKSPACE_NAME }}

      - name: Download CentOS Cloud Image
        run: |
          cd ${{ env.BUILD_WORKSPACE_NAME }}
          wget -q https://cloud.centos.org/centos/7/images/CentOS-7-x86_64-GenericCloud-2211.qcow2

      - name: Install virt-customize
        run: |
          cd ${{ env.BUILD_WORKSPACE_NAME }}
          sudo apt install -y libguestfs-tools
          which virt-customize

      - name: Customize CentOS Cloud Image 1.0
        run: |
          cd ${{ env.BUILD_WORKSPACE_NAME }}
          cp -a ../cloud-image-centos/src/centos7/ ./
          sudo apt-get install -y whois
          USER_PWD_LIVE=$(echo ${{ secrets.CENTOS_CLOUD_USER_PASSWORD }} | sudo mkpasswd -m sha-512 -s)
          USER_PWD_LIVE=$(echo $USER_PWD_LIVE | sed 's#\/#\\\/#g')
          USER_PWD_LIVE=$(echo $USER_PWD_LIVE | sed 's#\$#\\\$#g')
          ROOT_USER_PWD_LIVE=${{ secrets.CENTOS_CLOUD_ROOT_USER_PASSWORD }}
          eval sudo sed -i -e 's/CENTOS_PASSWORD_TO_SET/$USER_PWD_LIVE/' centos7/cloud-init/cloud.cfg.d/customize_user_cloud.cfg
          eval sudo sed -i -e 's/CENTOS_ROOT_PASSWORD_TO_SET/$ROOT_USER_PWD_LIVE/' centos7/scripts/final/exec-final.sh
          USER_PWD_LIVE=""
          ROOT_USER_PWD_LIVE=""
          tar -zcf centos7.tar.gz centos7
          sudo virt-customize -v -a CentOS-7-x86_64-GenericCloud-2211.qcow2 --mkdir /opt/cloud/ --upload ./centos7.tar.gz:/opt/cloud/centos7.tar.gz --run centos7/scripts/cloud-init.sh

      - name: Upload To Ali OSS
        run: |
          cd ${{ env.BUILD_WORKSPACE_NAME }}
          sudo apt install -y zip
          sudo -v ; curl https://gosspublic.alicdn.com/ossutil/install.sh | sudo bash
          eval sudo sed -i -e 's/LANGUAGE_TO_SET/${{ secrets.ALI_OSS_CONF_LANGUAGE }}/' \
                           -e 's/ENDPOINT_TO_SET/${{ secrets.ALI_OSS_CONF_ENDPOINT }}/' \
                           -e 's/ACCESS_KEY_ID_TO_SET/${{ secrets.ALI_OSS_CONF_ACCESS_KEY_ID }}/' \
                           -e 's/ACCESS_KEY_SECRET_TO_SET/${{ secrets.ALI_OSS_CONF_ACCESS_KEY_SECRET }}/' ../cloud-image-centos/src/centos7/oss/conf/alioss.conf
          sudo ossutil64 -c ../cloud-image-centos/src/centos7/oss/conf/alioss.conf cp -f CentOS-7-x86_64-GenericCloud-2211.qcow2  ${{ secrets.ALI_OSS_CONF_CLOUD_IMAGE_CENTOS_BUCKET }}CentOS-7-x86_64-GenericCloud-2211-1.0.qcow2
